:root {
  --neutral900: hsl(243, 96%, 9%);
  --neutral800: hsl(243, 27%, 20%);
  --neutral700: hsl(243, 23%, 24%);
  --Neutral600: hsl(243, 23%, 30%);
  --neutral300: hsl(240, 6%, 70%);
  --neutral200: hsl(250, 6%, 84%);
  --neutral0: hsl(0, 0%, 100%);
  --Orange500: hsl(28, 100%, 52%);
  --Blue-500: hsl(233, 67%, 56%);
  --Blue700: hsl(248, 70%, 36%);

  --raduis: .8rem;
}
