@import url("colors.css");
@import url("https://fonts.google.com/specimen/DM+Sans");
@import url("https://fonts.google.com/specimen/Bricolage+Grotesque");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-size: 18px;
    font-family: "DM Sans","Bricolage Grotesque", sans-serif ;
    background-color: var(--neutral900);
    color: var(--neutral0);
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile */
@media (max-width:375px) {
  
}