@import url("colors.css");
@import url("https://fonts.google.com/specimen/DM+Sans");
@import url("https://fonts.google.com/specimen/Bricolage+Grotesque");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-size: 18px;
  font-family: "DM Sans", "Bricolage Grotesque", sans-serif;
  background-color: var(--neutral900);
  color: var(--neutral0);
  height: 100vh;
}

main {
  padding: 4rem 10rem;
}

main header {
  display: flex;
  justify-content: space-between;
}

main h1 {
  text-align: center;
  margin: 4rem 0;
  font-family: "Bricolage Grotesque";
  font-size: 4rem;
}
.search {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.search input {
  background-color: var(--Neutral600);
  outline-color: var(--neutral0);
  padding: 1rem;
  width: 35rem;
  border-radius: var(--raduis);
  color: var(--neutral0);
  font-size: 1rem;
}

.search button {
  width: 8rem;
  border-radius: var(--raduis);
  font-size: 1rem;
  background-color: var(--Blue-500);
  color: var(--neutral0);
  cursor: pointer;
}

.search input::placeholder{
  color: var(--neutral0);
}

.information {
  margin-top: 4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile */
@media (max-width: 375px) {
}
