@import url("colors.css");
@import url("https://fonts.google.com/specimen/DM+Sans");
@import url("https://fonts.google.com/specimen/Bricolage+Grotesque");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-size: 18px;
  font-family: "DM Sans", "Bricolage Grotesque", sans-serif;
  background-color: var(--neutral900);
  color: var(--neutral0);
  height: 100vh;
}

main {
  padding: 4rem 15rem;
}

main header {
  display: flex;
  justify-content: space-between;
}

main h1 {
  text-align: center;
  margin: 2rem 0;
  font-family: "Bricolage Grotesque";
  font-size: 4rem;
}
.search {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.search input {
  background-color: var(--Neutral600);
  outline-color: var(--neutral0);
  padding: 1rem;
  width: 35rem;
  border-radius: var(--raduis);
  color: var(--neutral0);
  font-size: 1rem;
}

.search button {
  width: 8rem;
  border-radius: var(--raduis);
  font-size: 1rem;
  background-color: var(--Blue-500);
  color: var(--neutral0);
  cursor: pointer;
}

.search input::placeholder {
  color: var(--neutral0);
}

.information {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.information .information-left {
  width: 50rem;
}
.information .information-right {
  background-color: green;
}

.information .information-left section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.information .information-left #information-statistic article {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--Neutral600);
  width: 11.8rem;
  height: 6rem;
  border-radius: var(--raduis);
}

.information .information-left section article h5 {
  color: var(--neutral200);
}
.information .information-left #information-statistic article span {
  color: var(--neutral0);
  font-size: 1.5rem;
}

.information .information-left #information-daily article {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Neutral600);
  width: 6rem;
  height: 10rem;
  border-radius: var(--raduis);
}

.information .information-left #information-daily article img {
  height: 3.5rem;
  width: 3.5rem;
}

.information .information-left #information-daily article div {
  display: flex;
  gap: 2rem;
  color: var(--neutral200);
  font-size: .9rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile */
@media (max-width: 375px) {
}
